// These are not being loaded into the final styles.scss. 
// This was only to help me see the html containers for the CSS Zen Garden website.

@mixin solid-border($color) {
    border: 2px solid $color;
}

@mixin dashed-border($color) {
    border: 2px dashed $color;
}

@mixin dotted-border($color) {
    border: 2px dotted $color;
}

// .page-wrapper {
//     @include solid-border(red);
// }



.intro{
    @include solid-border(blue);
    header{
        @include solid-border(green);
        // h1, h2 {
        //     @include solid-border(yellow);
        // }
    }
    .summary{
        @include solid-border(green);
        // p {
        //     @include solid-border(yellow);
        // }
    }
    .preamble{
        @include solid-border(green);
        // h3, p {
        //     @include solid-border(yellow);
        // }
    }
}

.main{
    @include solid-border(red);
    .explanation{
        @include solid-border(green);
        h3, p {
            @include solid-border(yellow);
        }
    }
    .participation{
        @include solid-border(green);
        h3, p {
            @include solid-border(yellow);
        }
    }
    .benefits{
        @include solid-border(green);
        h3, p {
            @include solid-border(yellow);
        }
    }
    .requirements{
        @include solid-border(green);
        h3, p {
            @include solid-border(yellow);
        }
    }
    footer{
        @include solid-border(green);
        * {
            @include solid-border(yellow);
        }
    }
}

.sidebar{
    @include solid-border(purple);
    .wrapper {
        @include dashed-border(blue);
        // .design-selection{
        //     @include solid-border(green);
        //     h3, nav {
        //         @include solid-border(yellow);
        //         ul {
        //             @include dashed-border(yellow);
        //             li{
        //                 @include dotted-border(yellow);
        //                 a {
        //                     @include solid-border(purple);
        //                 }
        //             }
        //         }
        //     }
        // }
        .design-archives{
            @include solid-border(green);
            // h3, nav {
            //     @include solid-border(yellow);
            //     ul {
            //         @include dashed-border(yellow);
            //         li{
            //             @include dotted-border(yellow);
            //             a {
            //                 @include solid-border(purple);
            //             }
            //         }
            //     }
            // }
        }
        .zen-resources{
            @include solid-border(green);
            // h3, nav {
            //     @include solid-border(yellow);
            //     ul {
            //         @include dashed-border(yellow);
            //         li{
            //             @include dotted-border(yellow);
            //             a {
            //                 @include solid-border(purple);
            //             }
            //         }
            //     }
            // }
        }
    }
}
