@use 'variables' as *;

/* Images */


.intro::after {
    content: '';
    background-image: url("../zengarden/images/dinoyellow.svg");
    background-repeat: no-repeat;
    transform: rotate(335deg);
    width: 150px;
    height: 150px;
}

.requirements::after {
    content: '';
    background-image: url("../zengarden/images/volcanobase.svg");
    background-repeat: no-repeat;
    align-self: end;
    width: 300px;
    height: 170px;
}

.requirements::before {
    content: '';
    background-image: url("../zengarden/images/volcanosplash.svg");
    background-repeat: no-repeat;
    margin-left: 25px;
    width: 300px;
    height: 170px;
}