/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Rubik+Vinyl");
/* ATOMS - smaller pieces */
body {
  background-color: #DEECDA;
  font-family: "Exo 2", sans-serif;
}

h1, h2, h3 {
  font-family: "Rubik Vinyl", cursive;
  color: #FFF;
  font-weight: lighter;
}

h1::after {
  content: ":";
}

/* MOLECULES */ /* ORGANISMS */ /* Framework of Site - Grid, Flexbox, etc. */
/* Naming Grid Areas */
.intro {
  grid-area: intro;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

header {
  grid-area: header;
}

.summary {
  grid-area: summary;
}

.preamble {
  grid-area: enlightenment;
}

.explanation {
  grid-area: about;
}

.participation {
  grid-area: participation;
}

.benefits {
  grid-area: benefits;
}

requirements {
  grid-area: requirements;
}

footer {
  grid-area: footer;
}

.design-selection {
  grid-area: design-selection;
}

.design-archives {
  grid-area: archives;
}

.zen-resources {
  grid-area: resources;
}

.design-selection h3 {
  grid-area: design-h3;
}

.design-selection nav {
  grid-area: design-nav;
}

.zen-resources h3 {
  grid-area: resources-h3;
}

.zen-resources ul {
  grid-area: resources-ul;
}

.design-selection a:first-child {
  grid-area: title;
}

.design-selection #text {
  grid-area: by;
}

.design-selection a:last-child {
  grid-area: author;
}

.page-wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "intro  intro   intro   intro   intro   intro" "sidebar sidebar sidebar sidebar sidebar sidebar" "main   main    main    main    main    main";
}

.intro {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "enlightenment enlightenment enlightenment enlightenment summary summary";
}

header {
  display: grid;
  grid-gap: 0;
  grid-template-columns: max-content 1fr;
}

.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "design-selection design-selection design-selection" "archives  resources  resources";
}

.design-selection {
  display: grid;
  grid-gap: 0;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "design-h3  design-nav";
}
.design-selection nav ul {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.design-selection nav ul li {
  display: grid;
  grid-gap: 0;
  grid-template-columns: min-content 1fr;
  margin: 0.5em;
  grid-template-areas: "title title" "by author";
}

.zen-resources {
  display: grid;
  grid-gap: 0;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "resources-h3  resources-ul";
}
.zen-resources ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.zen-resources ul li {
  margin: 0.5em;
}

/* CSS Zen Garden */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */
body {
  margin: 0px;
  padding: 0px;
}

.main > *, .intro div, .wrapper div, h1, h2 {
  padding: 10px 20px;
}

.intro header {
  background-color: #309E6D;
}
.intro header h1, .intro header h2 {
  font-size: 2em;
}
.intro header h1 {
  text-align: right;
}
.intro header h2 {
  padding-left: 0;
}

abbr {
  text-decoration: none;
}

#zen-preamble h3, #zen-explanation h3 {
  color: #000;
  font-weight: bold;
}

#zen-requirements h3 {
  background-color: #E56B44;
}

.benefits {
  border: 0.5em solid #C93565;
}
.benefits h3 {
  background-color: #000;
}

.design-selection {
  margin: 0;
  background-color: #5BB527;
}
.design-selection > h3 {
  background-color: #5BB527;
}

.wrapper {
  margin: 0;
  background-color: #E56B44;
}
.wrapper > h3 {
  background-color: #E56B44;
}

.participation {
  margin: 10px 20px;
  background-color: #106C42;
}
.participation > h3 {
  background-color: #106C42;
}

/*# sourceMappingURL=style.css.map */
