/* CSS Zen Garden */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@use 'variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms';

h1, h2 {
    background-color: $color-primary;
}

.page-wrapper {
    @include atoms.set-grid($grid-gap, 15% 15% 15% 15% 15% 15%);
    section {
        // display:list-item;
        @include atoms.set-grid-item(1,3,1,7);
        header {
            @include atoms.set-grid(0, 50% 50%);
            h1 {
                @include atoms.set-grid-item(1,2,1,2);
                text-align: right;
            }
        }
    }
}

.main {
    @include atoms.set-grid-item (3,4,1,7);
}

.sidebar {
    @include atoms.set-grid-item (4,5,1,7);
}

#zen-preamble, #zen-explanation {
    h3 {
    color: $text-dark;
    font-weight: bold;
    }
}

#zen-requirements h3 {
    background-color: $color-accent3;
}

.zen-resources {
    @include atoms.same-background($color-accent4);
}

.benefits {
    @include atoms.border ($color-accent4,$border-type,$border-thickness);
    h3 {
        background-color: $text-dark;
    }
}

.design-selection, .design-archives {
    @include atoms.same-background($color-accent2);
}

.participation {
    @include atoms.same-background($color-accent1);
}
