/* CSS Zen Garden */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@use 'variables' as *;
@use 'atoms';
@use 'molecules';
@use 'organisms';
@use 'framework';
// @use 'borders';


body {
    margin: 0px;
    padding: 0px;
}

.main>*, .intro div, .wrapper div, h1, h2 {
    padding: calc($div-padding/2) $div-padding;
}

.intro {
    header {
        background-color: $color-primary;
        h1,h2 { font-size: 2em; }
        h1 { 
            text-align: right;
            // padding-left: $div-padding;
        }
        h2 {
            padding-left: 0;
        }
    }
    // div {
    //     padding: $div-padding;
    // }
}



abbr{
    text-decoration: none;
}

#zen-preamble, #zen-explanation {
    h3 {
    color: $text-dark;
    font-weight: bold;
    }
}

#zen-requirements h3 {
    background-color: $color-accent3;
}



.benefits {
    @include atoms.border ($color-accent4,$border-type,$border-thickness);
    h3 {
        background-color: $text-dark;
    }
}

.design-selection {
    margin: 0;
    @include atoms.same-background($color-accent2);
}

// .design-archives, .zen-resources {
.wrapper {
    margin: 0;
    @include atoms.same-background($color-accent3);
}

// .zen-resources {
//     @include atoms.same-background($color-accent4);
// }

.participation {
    margin: 10px 20px;
    @include atoms.same-background($color-accent1);
}
