/* CSS Zen Garden */
/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

@use 'variables' as *;
@use 'mixins';
@use 'animations';
@use 'framework';
@use 'images';
// @use 'borders';

.main>*, .intro div, .wrapper div {
    padding: calc($div-padding/2) $div-padding;
}

p {
    font-size: $font-size-body;
    max-width: 70ch;
    padding-right: 1em;
}

h1 {
    padding: calc($div-padding/2);
    padding-bottom: calc($div-padding/4);
}

h2 {
    padding: calc($div-padding/2);
    padding-top: 0;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../zengarden/images/background-leaves.png");
    background-color: $color-background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $font-body;
}

h1, h2, h3 {
    font-family: $font-headers;
    font-size: $font-size-headers;
    color: $light;
    font-weight: lighter;
}

h3 {
    text-transform: uppercase;
}

//adds colon and space afterwards to H1
h1::after {
    content:":";
}

.intro {
    header {
        background-color: $color-primary;
        h1,h2 { font-size: 2em; margin: 0;}
        @media screen and (min-width: $media-medium) {
            h1 { 
                text-align: right;
                // padding-left: $div-padding;
            }
            h2 {
                padding: calc($div-padding/2);
                padding-bottom: calc($div-padding/4);
                padding-left: 0;
            }
        }
    }
    // div {
    //     padding: $div-padding;
    // }
}

@media screen and (max-width: $media-medium) {
    .preamble p:last-of-type {
        padding-bottom: 2em;
        margin-bottom: 0;
        border-bottom: 10px solid $color-accent4;
    }
}

@media screen and (min-width: $media-medium) {
    #zen-summary {
        padding-left: 0px;
        padding-top: 0px;
    }

    #design-archives {
        padding-right: 0px;
        ul {
            padding-left: .25em;
        }
    }

}

abbr{
    text-decoration: none;
}

#zen-preamble, #zen-explanation {
    h3 {
    color: $dark;
    font-weight: bold;
    }
}

#zen-requirements {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

#zen-requirements h3 {
    width: max-content;
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    background-color: $color-accent3;
}

.main::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: $dark;
}

footer {
    margin-bottom: 15em;
    a {
        text-align: center;
    }
}


.benefits {
    margin: 2em;
    // background-color: $dark;
    @include mixins.border ($color-accent4,$border-type,$border-thickness);
    h3 {
        text-align: center;
        margin: 0;
        padding: 2em;
        // background-color: $dark;
    }
}

@media screen and (min-width: $media-medium) {
    .main::after {
        background-color: $dark;
    }
    .benefits {
        // margin-top: 500px;
        h3 {
            align-self: center;
            justify-self: left;
        }
        p {
            padding-left: 1em;
        }
    }

    #zen-requirements h3 {
        align-self: center;
        margin: 1em;
        margin-top: 1vh;
    }

    .requirements p {
        padding-left: 1em;
    }
    .requirements p:first-of-type {
        margin-top: 1vh;
    } 

    footer {
        background-color: $color-accent4;
        margin-bottom: 0;
        a {
            color: white;         
        }
    }
}

@media screen and (min-width: $media-large) {

}

.design-selection {
    margin: 0;
    @include mixins.same-background($color-accent2);
    h3 { 
        align-self: start;
        margin-top: 0;
        
    }
    ul {
        padding: 0;
        align-content: center;
        @media screen and (min-width: $media-medium) {
            padding-left: $div-padding;
        }     
    }
}

// .design-archives, .zen-resources {
.wrapper {
    margin: 0;
    @include mixins.same-background($color-accent3);
    color: $light;
    a { color: $light; }
}

.design-archives ul {
    padding-left: $div-padding;
    align-content: center;
}


.zen-resources {
    @include mixins.same-background($color-accent4);
    h3 { align-self: center; }
    ul { padding-left: 0; }
    li { align-self: center; }
}

@media screen and (min-width: $media-medium) {
    .zen-resources {
        @include mixins.same-background($color-accent3);
        ul { padding-left: $div-padding; }
    }
}

.participation {
    padding-top: 2em;
    margin: auto;
    margin-bottom: 5em;
    color: $light;
    a { color: $light; }
    @media screen and (min-width: $media-medium) {
        margin: 50px 0px 120px 0px;
    }
    p {
        margin: 1em;
        padding: 0;
    }
    background-image: linear-gradient(to bottom, $color-accent1, black);

}

* a { text-decoration: none; }

.sidebar {
    li { list-style: none; }
}
